.uppercase{
	text-transform: uppercase;
}

ul {
	list-style: none;
}

.d-none {
	display: none;
}

.hide-desktop{
	display: none;
}

.d-flex{
	display: flex;
}

.content-center{
	justify-content: center;
	align-items: center;
}

.t-center{
	text-align: center;
}

.mb-40{
	margin-bottom: 40px;
}

@media (max-width:1200px){
	.hide-desktop{
		display: flex;
	}
}

.bg-cover{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}