* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
}
.left-side {
	width: 30%;
	padding-top: 20px;
	background-color: #3f6592;
	color: #fff;
}

.photo {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
}

.left-side-content {
	margin-top: 20px;
	padding-left: 20px;
}

.title {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	font-weight: bold; 
	font-size: 24;
}
.content-title{
	font-weight: bold;
	font-size: 24;
	padding-top: 15px;
}

.language .content-text{
	margin-top: 16px;
}

ul {
	list-style: none;
}

.language ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;

}

.left-side-content-item {
    margin-top: 20px;
}


/*Right side*/


.right-side {
   flex: 1; 
}



.right-side-content {
    padding: 20px;
}

h1 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
h2 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content-name {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 28px;
}

.right-content-title {
    font-weight: bold;
    margin-top: 20px;
}

.right-title-text {
    display: flex;
    justify-content: space-between;
}

.value-name {
    margin-top: 8px;
    font-style: italic;
}
.description {
    margin-top: 8px;
    font-size: 14px;
}

.numbered-list {
    padding-left: 20px;
    font-family: "Product Sans";
}